.btn{
  position: absolute;
  padding: 1em;
  top: 35%;  /* position the top  edge of the element at the middle of the parent */
  left: 50%; /* position the left edge of the element at the middle of the parent */
  transform: translate(-50%, -35%); 
  display: block;
  width: 50%;
  border-radius: .5em;
  border: 0;
  background: linear-gradient(to bottom, rgb(250, 192, 32) 0%, rgb(247, 164, 69) 100%);
  box-shadow: inset 0 -6px 20px rgba(0, 0, 0, 0.15);
  box-shadow: 0 3px 0px rgba(158, 100, 13, 0.624);
  color: #fff;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  text-transform: lowercase;
  font-size: 14pt;
  cursor: pointer;
  z-index: 2;
  outline: none;
  transition: all .5s ease;
}

.btn:active{
  background: linear-gradient(to bottom, rgb(230, 172, 12) 0%, rgb(227, 144, 49) 100%);
  transition: all .5s ease;
}

/* .btn:hover{
  background: linear-gradient(to bottom, rgb(255, 222, 62) 0%, rgb(255, 184, 89) 100%);
  transition: all .5s ease;
} */

.btn span{
  position: relative;
  /* color: #332; */
  font-size: 24pt;
  text-shadow: 0 2px 0px rgba(0, 0, 0, .3);
  /* text-shadow: 0 2px 20px solid rgba(0, 0, 0, 0.9); */
}

.btn i{
  font-size: 68pt;
  /* position: absolute;
  left: 50%;
  width: 100%;
  background: #333;
  transform: translateX(50%); */
}

.menuBtn{
  position: absolute;
  z-index: 3;
  top: 10px;
  outline: none;
  cursor: pointer;
  left: 10px;
  background: linear-gradient(to bottom, rgb(250, 192, 32) 0%, rgb(247, 164, 69) 100%);
  border-radius: .5em;
  border: 0;
  box-shadow: inset 0 -2px 20px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 0px rgba(158, 100, 13, 0.624);
  color: #fff;
  padding: .5em 1em;
}

.fade{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, .5);
  transition: .5s ease;
  z-index: 2;
}
.fade.out{
  background: rgba(0, 0, 0, 0);
  transition: .5s ease;
  z-index: -1;
    
}

.menuBtn:active{
  background: linear-gradient(to bottom, rgb(230, 172, 12) 0%, rgb(227, 144, 49) 100%);
  
}

@import url('https://fonts.googleapis.com/css?family=Roboto');